background {
  background-color: #FFA07A;
}
h1 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
ul{
  font-family: 'Quicksand', sans-serif;
}

p {
  font-family: 'Quicksand', sans-serif;
}
img;{
  position: center;
}
.two {
  text-align: center;
}
div{
  text-align: center;
}
p{
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
